spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/monitor
    username: monitor
    password: monitor
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    root: INFO
    org.springframework: DEBUG
    com.monitor: DEBUG
